apiVersion: apps/v1
kind: Deployment
metadata:
  name: code-server
  namespace: code-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: code-server
  template:
    metadata:
      labels:
        app: code-server
    spec:
      containers:
      - name: code-server
        image: codercom/code-server:4.96.4
        args:
        - --auth
        - none
        - --bind-addr
        - 0.0.0.0:8080
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "2Gi"
            cpu: "2"
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: code-server-data
          mountPath: /home/coder
        - name: host-documents
          mountPath: /home/coder/Documents
      volumes:
      - name: code-server-data
        hostPath:
          path: /opt/code-server-data
          type: DirectoryOrCreate
      - name: host-documents
        hostPath:
          path: /home/aacevedo/Documents
          type: Directory
